.boxx{
width: 114px;
height: 114px;
background-color: rgb(255, 97, 150);
color: white;
font-size: 50px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align:center;
line-height:114px;
margin:5px;
float: left;
}